.user-profile-container {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
}

.user-profile-top-container {
    display: flex;
    margin-top: 2%;
    margin-left: 450px;
    gap: 5%;
    align-items: center;
}

.user-profile-username {
    font-size: 48px;
}

.user-profile-icon-container {
    margin-top: 5%;
    width: 400px;
    height: 400px;
    border: 1px solid var(--highlight-yellow);
    position: absolute;
    top: 10%;
    border-radius: 50%;
    background-color: rgba(29, 32, 47, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-icon-larger {
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius: 50%;
    margin: auto;
}



.user-profile-banner-container {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}
.user-profile-blurb {
    font-size: 26px;
}

.user-basic-information-container {
    margin-left: 450px;
    margin-top: 2%;
    display: flex;
    gap: 5%;
}

.profile-basic-information-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-profile-information-item {
    text-align: center;
}

.profile-information-title {
    font-weight: bold;
}

.user-page-box {
    min-height: 500px;
    border: solid 1px var(--highlight-yellow);
    background-color: rgba(29, 32, 47, 0.7);
    padding: 1%;
    text-align: center;
}

.user-profile-bottom-container {
    display: flex;
    margin-top: 180px;
}

.user-profile-bottom-left-container {
    width: 20%;
    min-height: 500px;
    margin-right: 10%;
}

.user-profile-bottom-right-container {
    width: 70%;
}

.placeholder-text {
    color: rgba(246, 249, 249, 0.7);
    text-align: center;
}